body{
	margin:0;
	padding:0;
}

.card{
	height: 18vh;
	width:90%;
	margin-top: 4vh;
	border-radius: 2vh;
	margin-left: 5%;
	background-color: rgba(0, 160, 190, 0.3);
	overflow: hidden;
}

.card-left{
	float: left;
	height: 100%;
	width: 35%;
	background-color: rgba(0, 0, 0, 0.8);
	align-content: center;
	text-align: center;

}

.card-left-img {
margin-left: auto;
margin-right: auto;
height: 8vh;
width: 50%;
border-radius: 50%;
overflow: hidden;
}

.card-left-img img{
	height: 140%;
	margin-bottom: 3vh;
}
.card-left a{
	padding-top: 4vh;
	color: white;
	font-family: monospace;
	font-weight: bold;
	font-size: 1.8vh;

}